@charset "utf-8";

/** 
 * uitool-modular.css v1.0 
 * Copyright: uitool.cn
 * Last Update: 2015.11.19 
 **/

body, html { font-family:'Microsoft YaHei','Arial'; background-color:#F5F5F5; }

.u-btn { position:relative; border-radius:6px; line-height:44px; display:block; height:44px; text-align:center; font-size:16px; }
    .u-btn-success { background:#E3007F; color:#FFF; }
    .u-btn-default { background:#FFF; color:#E3007F; }
    .u-btn-default:before { content: " "; border:1px solid #E3007F; position:absolute; left:0; top:0; width:100%; height:100%; box-sizing:border-box; border-radius:6px; }
    .u-btn-danger { background:#F39801; color:#FFF; }
    .u-btn-disable { background:#DDD; color:#555; }
    .u-btn-disable2 { background:#BBB; color:#FFF; }

.uitool-cell {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.uitool-check { position:absolute; left:-9999px; }
    .uitool-iconfont-checked:before { content:''; display:block; background:url(../images/iconfont-checked.fw.png) no-repeat center -16px; background-size:16px; }
    .uitool-check:checked + .uitool-iconfont-checked:before { background-position:center 0; }
.uitool-cell-hd {  }
.uitool-cell-bd { -webkit-box-flex:1; -webkit-flex:1; -ms-flex:1; flex:1; }

[class^="uitool-iconfont-"],
[class*=" uitool-iconfont-"]{
    font-size:0;
    float:left;
}
[class^="uitool-iconfont-"]:before,
[class*=" uitool-iconfont-"]:before {
    font-style:normal;
    font-size:0;
    font-weight:normal;
    /*speak:none;*/
    display:inline-block;
    vertical-align:middle;
    text-decoration:inherit;
    text-align:center;
    font-variant:normal;
    text-transform:none;
}

.m-focus-swipe { -webkit-box-sizing:border-box; word-wrap:break-word; word-break:keep-all; background:#FFF; box-shadow:0 1px 1px rgba(0,0,0,0.1); }
    .m-focus-swipe h4 { color:#666; font-size:18px; padding:10px; padding-top:6px; font-weight:normal; text-align:center; }
        .m-focus-swipe h4 em { margin-left:6px; }
    .m-focus-swipe .mfs-wrap { overflow:hidden; position:relative; }
        .mfs-wrap ul { position:relative; -webkit-padding-start:0px; }
            .mfs-wrap ul li { float: left;  width: 100%;  position: relative;  }
            .mfs-wrap ul li a { display:block; }
            .mfs-wrap ul li a img { width:100%; height: 240px;}
            .mfs-wrap ul li .cus { width:100%; }
        .mfs-wrap ol { height:20px; position:relative; z-index:10; margin-top:-20px; text-align:right; text-align:center;  bottom:30px; }
        .mfs-wrap ol li { display:inline-block; margin:5px 2px; width:8px; height:8px; background-color:#AAA; border-radius:8px; }
        .mfs-wrap ol li.on{ background-color:#555; }
    /*.mfs-excessive { background: -webkit-linear-gradient(rgba(255, 255, 255, 0), #FFF); height:16px; position:absolute; bottom:0; left:0; right:0; }*/
        .mfs-wrap .mfs-like { background:url(../images/iconfont-like.fw.png) no-repeat left center; background-size:18px; font-size:16px; color:#555; display:inline-block; line-height:24px; padding-left:22px; position:absolute; bottom:10px; right:10px; }
.m-header-menu { margin-bottom:10px; }
    .m-header-menu ul { height:42px; background:#FFF; box-shadow:0 1px 1px rgba(0,0,0,0.1); }
        .m-header-menu li { width:50%; float:left; text-align:center; font-size:16px;  }
            .m-header-menu li a { display:block; border-bottom:2px solid #FFF; padding:12px 0 10px; color:#999; font-size:14px; }
            .m-header-menu li:last-of-type a em { background:none; }
                .m-header-menu li a em { display:block; line-height:18px; height:18px; background:url(../images/line-eee.fw.png) repeat-y right center; background-size:1px 1px; font-size:16px; }
            .m-header-menu li.current a { border-color:#E5007F; color:#E5007F; }

.m-header-menu2 {}
    .m-header-menu2 ul { height:42px; background:#FFF; box-shadow:0 1px 1px rgba(0,0,0,0.1); }
        .m-header-menu2 li { width:33.3%; float:left; text-align:center; font-size:16px;  }
            .m-header-menu2 li a { display:block; border-bottom:2px solid #FFF; padding:12px 0 10px; color:#999; font-size:14px; }
            .m-header-menu2 li:last-of-type a em { background:none; }
                .m-header-menu2 li a em { display:block; line-height:18px; height:18px; background:url(../images/line-eee.fw.png) repeat-y right center; background-size:1px 1px; font-size:14px; }
                .m-header-menu2 li a em i { padding-right:14px; background:url(../images/iconfont-bottom.fw.png) no-repeat right center; background-size:10px; }
            .m-header-menu2 li.current a { border-color:#E5007F; color:#E5007F; }

.m-content-body { padding:0 10px; margin-bottom:10px; }
    .m-content-body .mcb-video { margin-bottom:4px; }
    .m-content-body p {font-size:14px; color:#666; line-height:22px; text-indent:28px; margin-bottom:10px; }
    .m-content-body p:last-of-type { margin-bottom:0; }
    .m-content-body img { width:100%; margin-bottom:4px; }

.m-module-1 { background:#FFF; border-radius:6px; box-shadow:0 1px 1px rgba(0,0,0,0.2); margin:0 10px 10px 10px; padding:10px 10px; }
    .m-module-1 h4 { font-size:16px; font-weight:normal; color:#333; margin-bottom:4px; }
            .m-module-1 ul li { margin-bottom:4px; }
            .m-module-1 ul li:last-of-type { margin-bottom:0; }
            .m-module-1 ul li h5 { font-size:14px; color:#E3007F; }
            .m-module-1 ul li .mm1-info { padding-left:30px; }
                .m-module-1 ul li .mm1-info label { font-size:14px; color:#E3007F; }
                .m-module-1 ul li .mm1-info span { font-size:14px; color:#666; }

.m-footer-btn { height:44px;  width:100%; }
    .m-footer-btn .mfb-wrap { position:fixed; left:0; bottom:0; right:0; height:44px; }
    .m-footer-btn .mfb-wrap a.u-btn { border-radius:0; }

.m-avatar-list { padding:0 10px; }
    .m-avatar-list ul { margin-left:-3%;float: left; }
        .m-avatar-list ul li { margin-left:3%; margin-bottom:3%; float:left; width:22%; }
            .m-avatar-list ul li a.mal-pic { float:left; display:block; border-radius:4px; overflow:hidden; }
                .m-avatar-list ul li a.mal-pic img { width:100%; }
            .m-avatar-list ul li div.mal-name { text-align:center; float:left; width:100%; }
                .m-avatar-list ul li div.mal-name a { font-size:0.75rem; color:#666; }

.mcb-sorry { text-align:center; margin-top:1rem; }
    .mcb-sorry i {  width:3rem; height:3rem; background:url(../images/iconfont-buydetailiconabnormal.fw.png) no-repeat center center; background-size:cover; display:inline-block; }
    .mcb-sorry p { font-size:0.75rem;  text-indent:0; color:#999; }

/* m-order-list */
.m-order-list {}
    .mol-group { box-shadow:0 1px 1px rgba(0,0,0,0.1); background:#FFF; margin-bottom:10px; font-size:12px; }
        .molg-no { padding:10px; }
            .molg-no span { line-height:18px; margin-right:10px; }
            .molg-no span a { color:#999; }
             /* .molg-no span a:hover { color:#DB5B45; -webkit-animation:name 1s; } */
                /*@-webkit-keyframes name{ 
                    0% { -webkit-transform:perspective(800px) rotateX(0deg) }
                    50%  { -webkit-transform:perspective(800px) rotateX(180deg) } 
                    100%  { -webkit-transform:perspective(800px) rotateX(0deg) } 
                }*/
        .molg-list {}
            .molg-list li { padding:10px; background:#F5F5F5; margin-bottom:4px; }
            .molg-list li:last-of-type { margin-bottom:0; }
                .molgl-fixed { display:inline-block; width:80px; height:80px; overflow:hidden; float:left; position:relative; border:1px solid #FC81AF; box-sizing:border-box; }
                    .molgl-fixed img { width:100%; height:100%; }
                .molgl-adaptive { position:relative; height:80px; margin-left:90px; }
                    .molgla-tit { height:60px; overflow:hidden; }
                        .molgla-tit h4 { font-size:14px; line-height:18px; font-weight:normal; color:#333; margin-bottom:6px; height:54px; }
                    .molgla-price { height:20px; overflow:hidden; line-height:20px; font-size:14px; color:#666; }
                        .molgla-price span:last-of-type { float:right; }
        .molg-price { text-align:left; font-size:12px; padding:14px 10px; }
            .molg-price span { margin-right:6px; color:#999; }
            .molg-price span:first-of-type { float:right; margin-right:0; }
                .molg-price span:first-of-type em { font-size:16px; color:#666; padding:0 4px; }
            .molg-price span a { font-size:16px; margin-left:4px; color:#666; }
        .molg-footer { border-top:1px solid #F5F5F5; padding:8px; }
            .molg-footer span a { display:inline-block; line-height:24px; height:24px; }
            .molg-footer .molgb-price { margin-left:48px; }
                .molg-footer .molgb-price a { font-size:20px; position:relative; color:#DB5B45; }
                .molg-footer .molgb-price a em { position:absolute; left:-48px; bottom:2px; width:50px; font-size:12px; line-height:16px; display:inline-block; float:left; color:#999; }
            .molg-footer .molgb-state a { font-size:12px; color:#999; }
            .molg-footer .molgb-btn a { float:right; border-radius:3px; font-size:12px; padding:0 10px; }
            .molg-footer .molgb-btn a:before { border-radius:3px; }
.bd { -webkit-box-flex:1; -webkit-flex:1; -ms-flex:1; flex:1; }
.m-order-content { margin-bottom:10px; float:left; width:100%; }
.m-order-content:last-of-type { margin-bottom:0; }
    .m-order-content ul {}
        .m-order-content ul li { background:#FFF; box-shadow:0 1px 1px rgba(0,0,0,0.1); padding:10px; margin-bottom:4px; float:left; width:100%; box-sizing:border-box; }
    .m-order-content ul li.moc-state-1 {}
        .mocs1-hd { margin-right:10px; float:left; }
            .mocs1-hd i.iconfont-state { background:url(../images/iconfont-state.fw.png) no-repeat center center; width:40px; height:40px; display:inline-block; float:left; background-size:cover; }
        .mocs1-bd { font-size:14px; }
            .mocs1-bd span { color:#999; }
                .mocs1-bd span em { color:#666; padding:0 4px; }
                .mocs1-bd span a { color:#E5007F; padding:0 4px; }
    .m-order-content ul li.moc-state-2 { background:#FFF url(../images/iconfont-right.fw.png) no-repeat right center; background-size:24px; }
        .mocs2-hd { margin-right:10px; float:left; }
            .mocs2-hd i.iconfont-add { background:url(../images/iconfont-add.fw.png) no-repeat center center; width:40px; height:40px; display:inline-block; float:left; background-size:cover; }
        .mocs2-bd { font-size:14px; }
            .mocs2-bd span { color:#999; display:block; }
                .mocs2-bd span em { color:#666; padding:0 4px; }
                .mocs2-bd span a { color:#E5007F; padding:0 4px; }
            .mocs2-bd h4 a { line-height:40px; height:40px; float:left; display:block; color:#999; font-size:16px; font-weight:normal; display:block }

        .mocs3-hd { margin-right:10px; float:left; }
            .mocs3-hd i.iconfont-img { width:40px; height:40px; float:left; display:inline-block; }
                .mocs3-hd i.iconfont-img img { width:40px; height:40px; }
        .mocs3-bd { font-size:14px; position:relative; }
            .mocs3-bd h4 { display:block; float:left; }
            .mocs3-bd h4 a { float:left; display:block; color:#666; font-size:14px; }
            .mocs3-bd p { color:#999; display:block; width:100%; }
            .mocs3-bd .s-price { font-size:14px; float:left; position:absolute; top:2px; right:0; color:#E5007F; font-weight:bold; }
            .mocs3-bd .s-no { font-size:14px; float:left; position:absolute; top:20px; right:0; }

        .mocs4-bd { font-size:14px; position:relative; }
            .mocs4-bd h4 { display:block; float:left; width:100%; }
            .mocs4-bd h4 a { float:left; display:block; color:#666; font-size:14px; }
            .mocs4-bd p { color:#999; display:block; width:100%; }
            .mocs4-bd .s-price { font-size:14px; float:left; position:absolute; top:2px; right:0; color:#E5007F; font-weight:bold; }
        .mocs5-bd { font-size:14px; position:relative; float:left; width:100%; }
            .mocs5-bd h4 { display:block; float:left; width:100%; padding:4px 0; }
            .mocs5-bd h4 a { float:left; display:block; color:#666; font-size:14px; }
            .mocs5-bd .s-price { font-size:14px; float:left; position:absolute; top:50%; right:0; color:#E5007F; font-weight:bold; margin-top:-10px; }

    .m-order-info { background:#FFF; padding:0 10px; float:left; width:100%; box-shadow:0 1px 1px rgba(0,0,0,0.1); margin-bottom:10px; box-sizing:border-box; }
        .m-order-info ul li { padding:10px 0; }
        .moc-state-6 { border-bottom:1px dashed #EEE; }
        .moc-state-6, .moc-state-7 { text-align:center; }
            .mocs6-bd h4 { font-size:14px; color:#999; font-weight:normal; margin-bottom:4px; }
                .mocs6-bd h4 span em { padding:0 4px; }
            .mocs6-bd .m6bd-price { font-size:16px; color:#999; font-weight:normal; margin-bottom:4px; }
            .mocs6-bd .m6bd-price.red { color:#E5007F; }
            .mocs6-bd .m6bd-price.c666 { color:#666; }
            .mocs7-bd h4 { font-size:14px; color:#999; font-weight:normal; margin-bottom:4px; }
            .mocs7-bd .m7bd-price { font-size:14px; color:#999; font-weight:normal; }
    

.m-order-agreement {}
    .m-order-agreement .uitool-cell { float:left; width:100%; padding:0 10px; margin-bottom:10px; box-sizing:border-box; }
    .m-order-agreement .uitool-cell-hd { padding-right:4px; }
    .m-order-agreement .uitool-cell-bd { font-size:12px; }
    .m-order-agreement .uitool-iconfont-checked:before { width:16px; height:16px; }

.m-order-pay { float:left; width:100%;  margin-bottom:10px; background:#FFF; box-shadow:0 1px 1px rgba(0,0,0,0.1); box-sizing:border-box; }
    .m-order-pay ul {  }
        .m-order-pay ul li { float:left; width:100%; padding:0 10px; box-sizing:border-box; }
        .m-order-pay ul li:first-of-type { border-bottom:1px solid #eee; }
            .m-order-pay ul li a { display:block; line-height:40px; height:40px; text-align:center; color:#666; }
    
        .m-order-pay ul li.mop-wechat a em { background:url(../images/iconfont-wechatpay.fw.png) no-repeat left center; padding-left:26px; background-size:24px; }

.m-order-btn { float:left; width:100%; box-sizing:border-box; padding:10px; }
    .m-order-btn li:first-of-type { margin-bottom:10px; }

.login-pages { background:#f5f5f5 url(../images/login-bg.fw.png) no-repeat center top; background-size:100%; position:absolute; top:0; right:0; bottom:0; left:0; }

    .m-login { position:relative; z-index:1; }
    .ml-logo { width:70%; margin:30% auto 0;  }
        .ml-logo img { width:100%; }

    .ml-tag { text-align:center; }
        .ml-tag a { color:#666; padding:0 20px; display:inline-block; line-height:26px; height:26px; border-radius:16px; font-size:14px; position:relative; }
        .ml-tag span.current a { color:#E3007F; }
        .ml-tag span.current a:before { content: " "; border:1px solid #E3007F; position:absolute; left:0; top:0; width:100%; height:100%; box-sizing:border-box; border-radius:16px; }
    .ml-form { margin:10px 20px; border-radius:6px; border:1px solid #eee; background:#fff; margin-bottom:10px; }
    .ml-form .uitool-cell { padding:6px 10px; }
    .ml-form .uitool-cell:first-of-type:before { content: " "; border-bottom:1px solid #EEE; position:absolute; left:0; bottom:0; width:100%; height:1px; box-sizing:border-box; }
        .ml-form .uitool-cell-hd { font-size:14px; margin-right:4px; position:relative; }
        .ml-form .uitool-cell-hd .iconfont-user { float:left; font-size:0; width:24px; height:24px; background:url(../images/iconfont-person.fw.png) no-repeat center center; background-size:20px; }
        .ml-form .uitool-cell-hd .iconfont-pass { float:left; font-size:0; width:24px; height:24px; background:url(../images/iconfont-password.fw.png) no-repeat center center; background-size:20px; }
        .ml-form .uitool-cell-bd input { border:0; line-height:24px; width:100%; color:#333; font-size:14px; }
        .ml-form .uitool-cell-bd a { position:absolute; top:50%; margin-top:-10px; right:10px; float:left; display:inline-block; line-height:20px; height:20px; font-size:14px; color:#E3007F; z-index:1; }
    .ml-prompt { margin:0 20px; }
        .ml-prompt p { display:block; line-height:16px; height:16px; padding-left:18px; background:url(../images/iconfont-prompt.fw.png) no-repeat left center; background-size:14px; font-size:12px; color:#999; }
    .ml-btn { padding:10px 20px; }

.m-index-list { padding:0 10px; float:left; width:100%; box-sizing:border-box; }
    .m-index-list li { padding:10px 0; border-bottom:1px solid #FFF; position:relative; float:left; width:100%; }
    .m-index-list li:before { content: " "; border-bottom:1px solid #DDD; position:absolute; left:0; bottom:0; width:100%; height:1px; box-sizing:border-box; border-radius:16px; }
    .m-index-list li:last-of-type { border-bottom:0; }
    .m-index-list li:last-of-type:before { border-bottom:0; }
    .m-index-list .uitool-cell-hd { width:120px; height:120px; margin-right:10px; }
        .m-index-list .uitool-cell-hd img { width:120px; height:120px; }
    .m-index-list .uitool-cell-bd { height:120px; }
        .m-index-list .uitool-cell-bd h4 { font-size:16px; margin-bottom:4px; }
        .m-index-list .uitool-cell-bd p { font-size:12px; color:#999; margin-bottom:4px; }
        .m-index-list .uitool-cell-bd .like { font-size:12px; color:#666; background:url(../images/iconfont-like2.fw.png) no-repeat left center; background-size:12px; padding-left:16px; margin-bottom:2px; color:#999; }
        .m-index-list .uitool-cell-bd .no { font-size:12px; margin-bottom:2px; }
        .m-index-list .uitool-cell-bd .time { font-size:12px; color:#999; }

.mil-bot { float:left; width:100%; margin-top:6px; }
    .mil-bot .left { float:left; line-height:26px; height:26px; font-size:16px; }
    .mil-bot .left em { color:#E3007F; }
    .mil-bot .right { float:right; }
    .mil-bot .right a { line-height:26px; height:26px; font-size:14px; padding:0 10px; border-radius:4px; }

.m-info {background:#FFF; margin-bottom:10px; float:left; width:100%; box-sizing:border-box; box-shadow:0 1px 1px rgba(0,0,0,0.1); }
    .m-info li { padding:0 10px; position:relative; }
    .m-info li:before { content: " "; border-bottom:1px solid #EEE; position:absolute; left:0; bottom:0; width:100%; height:1px; box-sizing:border-box; }
    .m-info li:last-of-type:before { border-bottom:0; }
    .m-info a { padding:10px 24px 10px 0; color:#999; background:url(../images/iconfont-right.fw.png) no-repeat right center; background-size:16px; font-size:16px; }
    .m-info a p { line-height:24px; height:24px; }
    .m-info i.pic { position:absolute; right:24px; top:50%; float:left; width:32px; height:32px; margin-top:-16px }
        .m-info i.pic img { width:32px; height:32px; }
    .m-info .uitool-cell-bd p { color:#666; }
    
