<div class="col-xs-6" ng-switch="conf.type" >
    <div class="form-groups form-inline">
        <label class="layout-fixed">{{conf.labelName}}</label>
        <div class="layout-adaptive">
            <select class="form-control" style="width:179px;" ng-switch-when="select" ng-model="conf.value" ng-options="o.value as o.text for o in conf.selValue">
                <option value="" ng-if="conf.default==''" id="{{conf.value}}">请选择</option>
            </select>
            <input class="form-control" ng-model="conf.value" type="text" ng-switch-when="text" />
            <input class="form-control" ng-model="conf.value" type="text" ng-switch-when="number" />
            <input class="form-control" ng-model="conf.value" type="text" ng-switch-when="date"  readonly />
        </div>
    </div>
</div>
