<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhc.myt.MytDao.mapper.MytMerchantMapper" >
  <resultMap id="BaseResultMap" type="com.zhc.myt.MytDao.entity.MytMerchant" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mch_name" property="mchName" jdbcType="VARCHAR" />
    <result column="mch_description" property="mchDescription" jdbcType="VARCHAR" />
    <result column="mch_logo_id" property="mchLogoId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="opt_id" property="optId" jdbcType="INTEGER" />
    <result column="opt_date" property="optDate" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mch_name, mch_description, mch_logo_id, status, opt_id, opt_date, create_id, 
    create_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhc.myt.MytDao.entity.MytMerchantExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from myt_merchant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from myt_merchant
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from myt_merchant
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhc.myt.MytDao.entity.MytMerchant" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into myt_merchant (mch_name, mch_description, mch_logo_id, 
      status, opt_id, opt_date, 
      create_id, create_date)
    values (#{mchName,jdbcType=VARCHAR}, #{mchDescription,jdbcType=VARCHAR}, #{mchLogoId,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{optId,jdbcType=INTEGER}, #{optDate,jdbcType=TIMESTAMP}, 
      #{createId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhc.myt.MytDao.entity.MytMerchant" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into myt_merchant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mchName != null" >
        mch_name,
      </if>
      <if test="mchDescription != null" >
        mch_description,
      </if>
      <if test="mchLogoId != null" >
        mch_logo_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="optId != null" >
        opt_id,
      </if>
      <if test="optDate != null" >
        opt_date,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mchName != null" >
        #{mchName,jdbcType=VARCHAR},
      </if>
      <if test="mchDescription != null" >
        #{mchDescription,jdbcType=VARCHAR},
      </if>
      <if test="mchLogoId != null" >
        #{mchLogoId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="optId != null" >
        #{optId,jdbcType=INTEGER},
      </if>
      <if test="optDate != null" >
        #{optDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhc.myt.MytDao.entity.MytMerchantExample" resultType="java.lang.Integer" >
    select count(*) from myt_merchant
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhc.myt.MytDao.entity.MytMerchant" >
    update myt_merchant
    <set >
      <if test="mchName != null" >
        mch_name = #{mchName,jdbcType=VARCHAR},
      </if>
      <if test="mchDescription != null" >
        mch_description = #{mchDescription,jdbcType=VARCHAR},
      </if>
      <if test="mchLogoId != null" >
        mch_logo_id = #{mchLogoId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="optId != null" >
        opt_id = #{optId,jdbcType=INTEGER},
      </if>
      <if test="optDate != null" >
        opt_date = #{optDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhc.myt.MytDao.entity.MytMerchant" >
    update myt_merchant
    set mch_name = #{mchName,jdbcType=VARCHAR},
      mch_description = #{mchDescription,jdbcType=VARCHAR},
      mch_logo_id = #{mchLogoId,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      opt_id = #{optId,jdbcType=INTEGER},
      opt_date = #{optDate,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>