<div class="outer">
  <div class="inner bg-light lter">
    <div class="text-center">
      <ul class="stats_box">
        <li>
          <div class="stat_text">
            <strong>2.345</strong> Weekly Visit
            <span class="percent down"> <i class="fa fa-caret-down"></i> -16%</span>
          </div>
        </li>
        <li>
          <div class="stat_text">
            <strong>165</strong> Daily Visit
            <span class="percent up"> <i class="fa fa-caret-up"></i> +23%</span>
          </div>
        </li>
        <li>
          <div class="stat_text">
            <strong>$2 345.00</strong> Weekly Sale
            <span class="percent"> 0%</span>
          </div>
        </li>
        <li>
          <div class="stat_text">
            <strong>$678.00</strong> Monthly Sale
            <span class="percent down"> <i class="fa fa-caret-down"></i> -10%</span>
          </div>
        </li>
      </ul>
    </div>
  </div><!-- /.inner -->
</div>