<div class="media user-media bg-dark dker">
    <div class="user-media-toggleHover">
        <span class="fa fa-user"></span>
    </div>
    <div class="user-wrapper bg-dark">
        <!--<a class="user-link" href="">-->
            <!--<img class="media-object img-thumbnail user-img" alt="User Picture" src="images/user.gif">-->
            <!--<span class="label label-danger user-label">16</span>-->
        <!--</a>-->
        <div class="media-body">
            <h5 class="media-heading">{{user.userNickname}}</h5>
            <ul class="list-unstyled user-info">
                <li> <a href="">{{user.userName}}</a>  </li>
                <li>当前时间:
                    <br>
                    <small>
                        <i class="fa fa-calendar"></i> {{date | date:'yyyy-MM-dd'}}</small>
                </li>
            </ul>
        </div>
    </div>
</div>